# --------------------------
# Miscellaneous / Temp
# --------------------------
*.class
*.log
*.pyc
*.swp
*.tmp
*.cache
.DS_Store
.last_build.bin
*.bin
*.map
.history
.build/
.buildlog/
migrate_working_dir/

# --------------------------
# IDE / Editor
# --------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
# VS Code
.vscode/

# --------------------------
# Flutter / Dart / Pub
# --------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-generated
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# --------------------------
# Android
# --------------------------
/android/app/debug/
/android/app/profile/
/android/app/release/
*.apk
*.aab

# --------------------------
# iOS
# --------------------------
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Pods/
/ios/.symlinks/
/ios/build/
/ios/.generated/
/ios/.dart_tool/
/ios/.pub-cache/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/

# --------------------------
# macOS
# --------------------------
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/build/
/macos/.dart_tool/
/macos/.pub-cache/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/

# --------------------------
# Windows
# --------------------------
/windows/flutter/ephemeral/
/windows/build/
build/windows/

# --------------------------
# Linux
# --------------------------
/linux/flutter/ephemeral/
/linux/build/
build/linux/

# --------------------------
# Web
# --------------------------
/web/.dart_tool/
/web/.pub-cache/
/web/build/

# --------------------------
# Symbolication & Obfuscation
# --------------------------
app.*.symbols
app.*.map.json

# --------------------------
# iOS/Android/Other binaries
# --------------------------
*.ipa
*.dmg
*.exe
*.msi
*.zip
*.tar.gz

# --------------------------
# Test outputs
# --------------------------
/test_output/
/coverage/
