.inputGroup {
  display: flex;
  flex-direction: column;
}
/* .inputGroupForPassword {
  width: 100%;
} */
.inputLabel {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}
.inputField {
  flex: 1;
  border: none;
  background: #dfdfdf;
  outline: none;
  font-size: 20px;
  color: #333;
  padding: 15px 15px;
  font-weight: 500;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.7%;
  height: 100%;
  background-color: #000; /* Black background for the icon */
}
.prefix {
  width: 20%;
  font-size: 20px;
  color: rgb(228, 225, 225);
  padding: 0 10px;
}
.eyeIconContainer {
  padding-right: 10px;
  align-content: center;
  cursor: pointer;
  color: #000000;
  height: 100%;
  background-color: #dfdfdf;
  font-size: 18px; /* Adjust the size of the eye icon */
}
.eyeIconContainer:hover {
  color: #000; /* Change color on hover */
}
.required {
  color: red;
}
.inputGroup.invalid input {
  border-color: red; /* Red border when invalid */
  background: #fdd; /* Light red background */
}
.inputGroup.invalid label {
  color: red; /* Red label text when invalid */
}
@media (max-width: 414px) {
  .inputLabel {
    font-size: 1.5rem;
  }

  .inputGroup {
    margin-top: 10px;
  }
  .inputWrapper {
    border-radius: 14px;
    margin-top: 8px;
  }
  .inputFieldForContact {
    padding: 25px 10px;
  }
  .inputField {
    padding: 19px 7px;
  }
  .iconContainer {
    padding: 21px 7px;
  }
  .eyeIconContainer {
    padding: 20px;
  }
}