@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

/* Global styles */
html,
body {
  width: 100vw;
  height: 100vh;
  color: #000000;

  font-weight: 400;
}
