.registrationContainer {
  width: 72%;
  margin: 50px 10% 70px 15%;
}
.optionUserContainer {
  display: flex;
  height: 70px;
  width: 550px;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 25%;
  overflow: hidden;
  background-color: #f7f7f7;
}
.optionUserContainer p {
  padding: 10px;
  font-size: 16px;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 100%;
  background-color: #000; /* Black background for the icon */
  color: #fff; /* White icon color */
}

.highlight a,
.loginOption a,
.highlight {
  padding-right: 5px;
  color: black;
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #8967b3; /* Set underline color */
  text-decoration-thickness: 1.5px; /* Optional: Control thickness */
}
/* Title */
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* Grid Container for Inputs */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}
.gridContainerForlogin {
   display: grid;
  grid-template-columns:repeat(1, 2fr);
  gap: 30px;
  margin-bottom: 20px;
}
.form{
  margin: auto;
  width: 50%;
}
.img {
  width: 40px;
  height: 40px;
}






.error {
  color: red;
  text-align: center;
}

/* Register Button */
.registerButton {
  padding: 14px 26px;
  background: #8967b3;
  color: #ffff;
  font-size: 20px;
  border: none;
  margin-left: 40%;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.registerButton:hover,
.registerButton:active {
  background: black;
  color: white;
}
/* Login Option */
.loginOption {
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
}
.dividerTop {
  margin-bottom: 60px;
}
/* Divider */
.divider {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: hsl(0, 0%, 52%);
  margin: 20px 0 30px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  display: block;
  height: 3px;
  background: #ddd;
  position: absolute;
  top: 50%;
  width: 35%;
}

.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

.S9gUrf-YoZ4jf {
  border-radius: 10px;
  width: 340px;
  left: 0%;
  overflow: hidden;
  color: white;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-family: "Kantumruy Pro" !important;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.S9gUrf-YoZ4jf,
.S9gUrf-YoZ4jf *,
.S9gUrf-YoZ4jf,
.S9gUrf-YoZ4jf *:hover {
  background: #4285f4;
  height: 50.5px;
  display: flex;
  border: none !important;
  justify-content: center;
  align-items: center;
}
.S9gUrf-YoZ4jf div {
  background: #4285f4;
  width: 100%;
  height: 100%;
}
.google {
  display: flex;
  align-items: center;
  position: relative;
  left: 20%;
}
.icon {
  z-index: 100;
  width: 16px;
  position: relative;
  left: 9%;
  bottom: -5px;
}

.nsm7Bb-HzV7m-LgbsSe-Bz112c svg path {
  fill: none;
}
.domainText {
  font-size: 16px; /* Adjust font size */
  color: white; /* Text color */
}
@media (max-width: 414px) {
  .registrationContainer {
    width: 98%;
    margin: 0;
  }
 
  .optionUserContainer {
    margin-left: 10px;
    width: 370px;
    height: 80px;
    background: #dfdfdf;
    margin-top: 15%;
    border-radius: 12px;
    overflow: hidden;
  }
  .optionUserContainer p {
    padding-left: 20px;
    font-size: 18px;
  }
  .iconContainer {
    width: 30%;
  }
  .title {
    flex-direction: column;
    font-size: 28px;
    margin: 50px 0;
  }
.form{
  margin :auto;
  width: 100%;
}
  .gridContainer {
    display: flex;
    flex-direction: column;
  }
  .checkbox {
    width: 1.8rem;
    height: 1.5rem;
  }
  .divider::after,
  .divider::before {
    width: 20%;
  }
  .registerButton {
    font-size: 20px;
  }
  .checkboxLabel {
    margin-top: 40px;
    font-size: 16px;
  }
  .authOption {
    margin: 50px 0;
  }
  .S9gUrf-YoZ4jf {
    width: 310px;
  }
  .google {
    width: fit-content;
    left: 5%;
    margin-bottom: 4rem;
  }
  .S9gUrf-YoZ4jf,
  .S9gUrf-YoZ4jf *,
  .S9gUrf-YoZ4jf,
  .S9gUrf-YoZ4jf *:hover {
    height: 58px;
  }
  .nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
    font-size: 20px;
    margin-left: 10px;
  }

  .icon {
    left: 14%;
    width: 18px;
    margin-bottom: -7px;
  }
}